.CharacterListPageContainer {
    display: flex;
    justify-content: center;
}

.CharacterListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.CharacterListTitle {
    display: flex;
    align-items: center;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    padding: 10px 100px;
    align-self: center;
}

.CharacterListItem {
    margin-top: 20px;
    cursor: pointer;
}

.CharacterListItem:hover {
    color: rgb(49, 102, 89);
}