.RaceDetailSelectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RaceDetailHeader {
  display: flex;
  flex-direction: row;
}

.DropdownsContainer {
  margin-top: 50px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.IMG {
  height: 200px;
}

.RaceDetailSelectionContainer button {
  align-self: center;
  background: white;
  padding: 1rem 1rem;
  margin: 150px 1rem;
  transition: all 0.5s ease;
  color: #41403e;
  font-size: 2rem;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  margin-bottom: 10px;
}

.RaceDetailSelectionContainer button:hover {
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  cursor: pointer;
}
