.RaceSelectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RaceList {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;  
    margin-top: 40px;
  }
  
  .RaceListItem {
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
    margin: 10px;
    padding: 15px 50px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
  }